/* Variables */

:root {
  --rojo: #E50914;
  --fondo: #141414;
}

/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logotipo {
  color: var(--rojo);
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  font-weight: normal;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav .active {
  color: #fff;
}